@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Raleway:ital,wght@0,100;1,600&family=Rock+Salt&display=swap');


body{
    margin: 0;
    background-color: #D3E3FC;
}


.app{
    max-width: 100vw;
    min-height: 100vh;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

h1{
    font-size: 5rem;
    color: #008878;
    font-family: 'Bebas Neue', cursive;
    text-shadow: #FFCCBC 4px 4px;
}

h2{
    color: #fff;
    font-size: 1.8rem;
    font-family: 'Bebas Neue', cursive;
}

::placeholder {
    color: #D3E3FC;
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #D3E3FC;
   }
   
   ::-ms-input-placeholder { /* Microsoft Edge */
    color: #D3E3FC;
   }




// Header
.main-header-container{
    margin-left: 3rem;
    margin-top: -1rem;
    margin-bottom: -2.5rem;
}
// Header
// list - Form
.list-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
// list - Form
// List - Tasks
.task-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #77A6F7;
    border-top: 1px solid #77A6F7;
    border-radius: 20px;
    width: 600px;
    height: 600px;
}

.task-item-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #008878;
    border-bottom: 1px solid #008878;
    border-radius: 10px;
    height: 10%;
    align-items: center;
}

.checkbox{

}

.task-header-container{

}

.btn-container{
    display: flex;
    flex-direction: row;
}

.edit-btns-container{
    
}
// List - Tasks






// Colour pallete 
// #00887A - Green
// #FFCCBC - Pale pink
// #FFFFFF - White
// #D3E3FC - bluey grey
// #77A6F7 - Darker blue
