body{
    margin: 0;
    background-color: #D3E3FC;
}

// Colour pallete 
// #00887A - Green
// #FFCCBC - Pale pink
// #FFFFFF - White
// #D3E3FC - bluey grey
// #77A6F7 - Darker blue

.app{
    max-width: 100vw;
    min-height: 100vh;
}

h1{
    font-size: 5rem;
    color: #008878;
}

input{
    border: 3px solid #77a6f7;
    border-radius: 3px;
    padding: 15px;
    background-color: #77a6f7;
    color: #008878;
    font-size: 1.2rem;
}

::placeholder {
    color: #008878;
    opacity: 1; /* Firefox */
  }


// Landing
.landing-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.landing-header{

}

.landing-form-container{
 
}

.landing-input{
    margin: 2px;
}
.landing-btn{
    margin: 2px;

}
// Landing
